[Unit]
Description=larksys
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/larksys
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
