[Unit]
Description=shell wrapper for larksys
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/larksys-wrapper
TimeoutStartSec=0

[Install]
WantedBy=larksys-wrapper.target
